{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            {% for event in events %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ event.title|slice(0, 24) }}
                            </h5>
                            <p class="card-text">
                                {{ event.description|slice(0, 30) }}
                            </p>
                            <p class="card-text">
                                <strong>Date de début : </strong>
                                {{ event.startDate|date('d/m/Y H:i') }}
                            </p>
                            <p class="card-text">
                                <strong>Date de fin : </strong>
                                {{ event.endDate|date('d/m/Y H:i') }}
                            </p>
                            <p class="card-text">
                                <strong>Nombre de participants maximum : </strong>
                                {{ event.nbMaxParticipants }}
                            </p>
                            <p class="card-text">
                                <strong>Évènement public : </strong>
                                {{ event.isPublic ? 'Oui' : 'Non' }}
                            </p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="alert alert-warning text-center" role="alert">Aucun événement à venir</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
